<%- include('./partials/header') %>
<div class="container">
 
<div class="left trending">
  <div class="wireframe card" id="trending">
    <h1>Trending Clucks</h1>
    <% if(trends){%>  
      <ul>
        
      </ul>
      <% }else{  %> 
        <h2>Nothing is trending...</h2> 
        <% } %>
    </div>

</div>

<div class="right clarks">
<div class="cards">
  <% let currentTime = new Date()%>
  <% for(let cluck of clucks) { %>
    <div class="wireframe card">
      <div>
      <img id="rooster-avatar" class="img-thumbnail" src="images/rooster.svg"
      data-holder-rendered="true">
      </div>
      <div>
        <p><%- cluck.username %></p>

        <p><%- relativeDate(currentTime, cluck.createdAt) %></p>
        <p><%- cluck.content %></p>
      <% if(cluck.image_url){%>
        <img class="cluck-image" src="<%- cluck.image_url %>" alt="todo img">
        <% }%>
      </div>
    </div>
 <% } %>
</div>
</div>
</div>
<%- include('./partials/footer') %>