<%- include('./partials/header') %>

<div class="cards">
  <% for(let cluck of clucks) { %>
    <div class="wireframe card">
      <img id="rooster-avatar" class="img-thumbnail" src="images/rooster.svg"
      data-holder-rendered="true">
      <!-- <h5>
        <a href="/todos/<%-cluck.id%>"><%-cluck.title%></a>
      </h5> -->
      <% if(cluck.image_url){%>
        <img class="cluck-image" src="<%- cluck.image_url %>" alt="todo img">
        <% }%>
      <p><%- cluck.content %></p>
      <p><%- cluck.username %></p>
      
    </div>
 <% } %>
</div>

<%- include('./partials/footer') %>